\documentclass{prettydoc}

% Document metadata
\title{ {{- title -}} }
\shorttitle{ {{- shorttitle -}} }
\author{ {{- author -}} }
\date{ {{- date -}} }
\documentId{ {{- document_id -}} }
\revision{ {{- revision -}} }
\draft

\doctype{Brief}  % small label in the top-right meta block
% Optional cover extras: \kicker{...}, \lead{...}, \website{...}

\begin{document}
\maketitle

% Add your content here

\end{document}
