\documentclass[]{policy}

% Document details
\title{ {{- title -}} }
\shorttitle{ {{- shorttitle -}} }
\author{ {{- author -}} }
\date{ {{- date -}} }
\documentId{ {{- document_id -}} }
\revision{ {{- revision -}} }
\draft

\begin{document}
  % Front matter
  \maketitle
  \tableofcontents

  \section{Purpose}

  % TODO: Describe the purpose and scope of this policy

  \section{Policy}

  % TODO: State the policy

  \section{Responsibilities}

  % TODO: Describe roles and responsibilities

  \section{Revision History}
  \begin{tabularx}
    {\textwidth}{XXXX} \hline \textbf{Revision} & \textbf{Date} & \textbf{Author}
    & \textbf{Changes} \\
    \hline
    \revisionnumber & {{ date }} & {{ author }} & Initial version \\
    & & & \\
    & & & \\
    \hline
  \end{tabularx}
\end{document}
