# Document manifest for {{ title }}
# This file is loaded by fiddlie-manifest package

document:
  title: "{{ title }}"
  shorttitle: "{{ shorttitle }}"
  author: "{{ author }}"
  date: "{{ date }}"
  id: "{{ document_id }}"

revision:
  current: "{{ revision }}"
  draft: true

history:
  - revision: "{{ revision }}"
    date: "{{ date }}"
    author: "{{ author }}"
    changes: "Initial revision"
