\documentclass[]{techreport}

% Load manifest support and apply values from YAML file
\usepackage{fiddlie-manifest}
\loadmanifest{manifest.yaml}
\applymanifest

\begin{document}
  \maketitle
  \tableofcontents

  % Add your content here

  \makerevisionhistory

  \importantnotice
\end{document}
