\documentclass[]{onepager}

% Document details
\title{ {{- title -}} }
\shorttitle{ {{- shorttitle -}} }
\author{ {{- author -}} }
\date{ {{- date -}} }
\documentId{ {{- document_id -}} }
\revision{ {{- revision -}} }
\draft

\begin{document}
  \maketitle

  % Add your content here
\end{document}
